<div id="login_main" ng-controller="ctrl_login"> 
  <form name="sign_up" class="login">
    <input type="email" name="email" placeholder="Email" ng-model="email">
    <input name="login_psswd" type="password" placeholder="Password" ng-model="login_psswd">
    <input type="submit" class="btn btn-login" value="Log In" ng-click="login()">
  </form>
  <p></p>
  <div id="oauth_login">
    <span>Or login from:&nbsp;</span>
    <div class="btn-group">
      <button type="button" class="btn btn-facebook" ng-click="oauth('facebook')">F</button>
      <button type="button" class="btn btn-google" ng-click="oauth('google')">G</button>
    </div>
  </div>
</div>

