<div ng-controller="ctrl.login" ng-switch on="state"> 
  <form name="sign_up" class="login" ng-switch-when="sign_up">
    Email: <input type="email" name="email" ng-model="email" required>
    Password: <input name="login_psswd" type="password" ng-model="login_psswd">
  </form>
  <div class="btn-group login" ng-switch-default>
    <button type="button" class="btn btn-default" ng-click="oauth('facebook')">F</button>
    <button type="button" class="btn btn-default" ng-click="oauth('google')">G</button>
    <button type="button" class="btn btn-default" ng-click="login()">Sign Up</button>
  </div>
</div>

