$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "var.scss";

/* Put your CSS here */
#intro > ul {
    font-weight: normal;
    font-size: large;
}

#intro > ul > li > p {
    font-weight: lighter;
    font-style: italic;
    font-size: small;
}

#sign_up, #login {
}

#login_email, #login_passwd {
    width: auto;
}

@media screen and (min-width:600px) {
}
@media screen and (max-width:599px) {
}

.dev {
    border-width: 2px;
    border-style: double;
    border-color: red;
}
