$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "override.scss";
@import "bootstrap-sass/lib/bootstrap";
@import "var.scss";

/* Put your CSS here */
body {
    background-color: black;
    color: white;
}

#logo {
    text-align: left;
    font-weight: bolder;
    font-size: 335%;
    padding: 5px;
}

#logo > span {
    text-decoration: underline;
}

#header {
    background-color: black;
    top: 0px;
}

#footer {
    background-color: #9B59B6;
}

#view {
    background-color: #2C3E50;
}

#header {
    width: 99%;
    margin-left: auto;
    margin-right: auto;

    z-index: 6;

    position: fixed;
}

#intro > ul {
    font-weight: normal;
    font-size: large;
}

#intro > ul > li > p {
    font-weight: lighter;
    font-style: italic;
    font-size: small;
}

#login {
    float: right;
}

#sign_up, #login_email, #login_passwd {
    width: auto;
}


