@import "bootstrap-sass/lib/bootstrap";

// Social Color
$color-fb-blue:       #48649F;
$color-fb-green:      #69A74E;
$color-ggl-red:       #E46145;

// color used by ourself
$color-fg-default:    #FF7538;

// buttons
.btn-facebook {
    @include button-variant(white, $color-fb-blue, $btn-default-border);
}

.btn-google {
    @include button-variant(white, $color-ggl-red, $btn-default-border);
}

.btn-login {
    @include button-variant(white, $color-fb-green, $btn-default-border);
}

