@import "bootstrap-sass/lib/bootstrap";

// Social Color
$color-fb-blue:       #48649F;
$color-fb-green:      #69A74E;
$color-ggl-red:       #E46145;

// color used by ourself
$color-fg-default:    #FF7538;

// padding for grid
$grid_gutter: 5px;

// height of header
$header_height: 82px;

// buttons
.btn-facebook {
    @include button-variant(white, $color-fb-blue, $btn-default-border);
}

.btn-google {
    @include button-variant(white, $color-ggl-red, $btn-default-border);
}

.btn-login {
    @include button-variant(white, $color-fb-green, $btn-default-border);
}

.op-row{
    @extend .row;

    margin-top: $grid_gutter;
    margin-bottom: $grid_gutter;
}

.dev {
    border-width: 2px;
    border-style: double;
    border-color: red;
}

.header-fix-height {
    height: $header_height;
}

.content {
    background-color: #34495E;

    padding-bottom: 10px;
}

